*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(241, 243, 245);
}
/* nav bar css for all pages */
nav{
    height: 80px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
nav .logo a{
    font-size: 33px;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
nav ul li a:hover,
nav ul li a.active{
    color: #1b1b1b; 
    background: #fff;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
/* image css on the home page */
img{
    width:50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 2%;
}


/* Home page css */
.main_text{
    margin: 20px;
    min-height: 20vh; 
    padding: 3vw; 
    border: 5px solid darkgoldenrod;
    border-radius: 0 25px;
} 
.main_text h3{
    font-weight: bold;
    color: black;
    font-size: 3vw;
    text-align: center;
    padding: 5px;
}
.main_text p{
    color:black;
    text-indent: 20px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 5px 10px;
}

.s_text{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 4%;
}
/* Home page button links */
.home_button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
}
.home_button button{
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.home_button a{
    background-color: #68c6b8;
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
}
/* department page css */
.d_text {
    text-align: center;
    margin: 4%;
}
.d_text h3{
    font-style: italic;
    font-size: 30px;
    color: #287c91;
    padding: 5px;
}
.d_text p{
    font-style: normal;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    padding: 5px;
}
.d_img{
    width:70%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 2%;
}

.h_text{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}
.container .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card li {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card li{
    list-style-type: none;
}

.card a{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
}

/* Account log in and Register pages css */
.form{
    border: 2px solid black ;
    padding: 5%;
    margin: 5% 5%;
    display: block;
    text-align: center;
}

.form  input[type=text], input[type=password], input[type=email]  {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box; 
    align-items: center;
} 
.form label {
    width: 50%;
    font-style: italic;
    
}
.form ::placeholder{
    text-align: center;
}
.form button { 
    background-color: #32b7d8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    width: 50%;
} 
.form button:hover {
    opacity: 0.6;
  }
.form p {
    font-size: 20px; 
    font-style: normal;
    padding: 2%;
}
.form a{
    text-decoration: none;
    font-style: italic;
}



/* footer css for all pages */
.footer{
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0; 
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul a{
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}






@media (max-width: 940px) {
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background:none;
    }
}

/* department page */
.d_column {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}
.details {
    margin: 0 -5px;
    padding: 2%;
}
.details:after {
    content: ""; 
    display: table; 
    clear: both;
}
.d_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
    line-height: 1.8;
}

.d_card h1{
    color: #32b7d8;
    font-style: italic;
}
@media screen and (max-width: 600px) {
    .d_column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

/* dash home css */
.dash{
    border: 2px solid black ;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #d4e7e2;
    padding: 5%;
    margin: 5% 5%;
    display: block;
    text-align: center;
}
.dash_main h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 4%;
    font-style: italic;
    color: black;
}
.dash_main h5{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 4%;
    font-style: italic;
    color: #287c91;
}
