{% extends 'base.html' %}
{% block content%}
<h3>Login</h3>
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        
        <input type="password" name="password" placeholder="password">

        <button type="submit" name="Login">login</button>
    </form>

    <b><p>Don't have an account? Click <a href="/register">here</a> to register an account.</b></p>

{% for message in messages %}
    <p>{{message}}</p>
</div>
{% endfor %}
{% endblock%}