{% extends 'base.html' %} {% block content %}
<div class="d_text">
  <h3>Our Specility</h3>
  <p>
    The diagnostic branch of medicine used to determine variances in any part of
    the body.
  </p>
</div>
<div class="details">
  <div class="d_coulmn">
    <div class="d_card">
      <h1>{{department.department_name}}</h1>
      Phone: {{department.phone}}
      <br />
      Email: {{department.email}}
      <br />
      Number of Rooms: {{department.no_of_appointment_rooms}}
      <br />
      Number of Beds: {{department.no_of_hospital_beds}}
      <br />
      Address: {{address.street_details}}, {{address.suburb}}, {{address.city}},
      {{address.zipcode}}
    </div>
  </div>
</div>
{% endblock content%}
