{% extends 'dash-base.html' %} {% block content %}

<div class="dash">
  <div class="dash_main">
    <h3>
      View your Appointments,
      <h5>{{name}}</h5>
    </h3>

    {% if no_appointments == 0 %}
    <h4>You have no appointments, you should probably make one!</h4>
    {% endif %} {% for appointment in appointments %}
    <h4>{{appointment.appointment_date}} with {{appointment.staff_id}}</h4>
    <button>
      <a href="/appointments/{{appointment.appointment_id}}/delete"
        >Cancel Appointment</a
      >
    </button>
  </div>

  {% endfor %} {% endblock %}
</div>
